@use "../abstracts/variables";

.img-fluid {
  height: 100%;
  object-fit: cover;
}

.card-footer {
  & p {
    margin: 0;
    /* padding: 0; */
  }
  & p:last-child {
    margin-left: auto;
    font-size: $font-bold;
  }
}
